/* Styles for the header */
header {
    text-align: center; /* This centers the content (the h1 element) */
    color: orange;      /* Sets the text color to orange */
    padding: 20px 0;    /* Adds some space above and below the header */
}

h1 {
    margin: 0; /* Removes any default browser margin from the h1 */
}


/* Your updated Grid styles from the previous response */
#container-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    border: 2px solid #333;
    gap: 5px;
    padding: 5px;
}

.box {
    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3), .box:nth-child(5) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    padding: 3px;
}

.box:nth-child(4) {
    grid-column: span 2;
}

.box1 {
    border: 2px solid brown;
    background-color: #ffd700;
    border-radius: 3px;
}